#img{
   
    width: 80px;
    height: 650px;
    background-image: url(../ex01/cabecalhos_back.png);
}

div{
    float: left;
}

#corpo{
  
    width: 800px;
    height: 650px; 
    background-color: rgb(202, 202, 144);
}

#corpo h1{
    padding-left: 10px;
}

#corpo p{
    padding-left: 10px;
}

#corpo h2{
    padding-left: 10px;
}

#corpo h3{
    padding-left: 10px;
    background-color: rgb(197, 197, 40);
    color: white;
}

#corpo hr{
    padding-left: 10px;
}

